@use "./styles/variables" as *;

.app {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  position: relative;
  background: #0a0a0a;

  &[data-phase="playing"],
  &[data-phase="playing"] * {
    cursor:
      url("/navigation-n.svg") 12 12,
      crosshair;
  }
}

.app__overlay {
  position: absolute;
  inset: 0;
  background: #000;
  pointer-events: none;
  z-index: 9999;
}
